@use "@/styles/variables.scss" as *;

.container {
    --outer-padding: 0.5rem;

    width: min($max-width, 100% - var(--outer-padding) * 2);
    background-color: $clr-netural-200;
    border: 1px solid $clr-netural-300;
    border-radius: $br;
    padding: 1rem;
    margin: 0 auto;
}

@media screen and (min-width: 765px) {
    .container {
        --outer-padding: 1rem;
    }
}