@use "@/styles/variables.scss" as *;

.input {
    display: block;
    width: 100%;
    font: inherit;
    line-height: inherit;
    border: 1px solid $clr-netural-300;
    border-radius: $br;
    background-color: transparent;
    padding: 5px 12px;
    margin-block: 0.25rem;

    &[data-invalid="true"] {
        border-color: $warning;
    }
}