@use "@/styles/variables.scss" as *;

.input {
    background-color: #fff;
    border-radius: $br;
    box-shadow: 0 0 0 1px $clr-netural-200;
    padding: 5px 12px;

    &_invalid {
        box-shadow: 0 0 0 1px $warning;
    }
}

@media screen and (min-width: $break-point) {
    .input {
        padding: 10px 16px;
    }
}