@use "@/styles/variables.scss" as *;

.pagination {
    display: flex;
    border-left: 1px solid $clr-netural-200;
    border-right: 1px solid $clr-netural-200;
    overflow: hidden;
    width: fit-content;

    &__container {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: center;
    }

    &__input,
    &__button {
        padding: 1rem;
    }

    &__input {
        flex-basis: 0;
        text-align: center;
        min-width: 6.5ch;
        background-color: transparent;
    }

    &__button {
        flex-grow: 1;
        background-color: transparent;

        &:not(:disabled):hover {
            background-color: $clr-netural-200;
        }
    }
}

@media screen and (min-width: $break-point) {
    .pagination {
        &__input {
            text-align: right;
            min-width: 8ch;
        }
    }
}