@use "@/styles/variables.scss" as *;

.placeholder {
    box-shadow: 0 0 1px $clr-netural-300;
    border-radius: $br;
    background-color: $clr-netural-300;
    pointer-events: none;
    animation: appear 1s linear infinite;

    & > * {
        filter: blur(200px);
    }
}

@keyframes appear {
    25% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.2;
    }
}