@use "@/styles/variables.scss" as *;

.question {
    display: grid;
    gap: 1rem;
    background-color: $clr-netural-100;
    border: 1px solid $clr-netural-200;
    border-radius: $br;
    padding: 1rem;
    margin-bottom: 1rem;

    &__title {
        border-bottom: 1px solid $clr-netural-200;
        padding-bottom: 0.5rem;
        margin-block: 0;
    }

    &__answer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__field {
        &_disabled {
            opacity: 0.85;
        }
    }

    &_wrong {
        border: 1px solid $warning;
    }

    &_wrong &__title {
        border-bottom: 1px solid $warning;
    }
    
}