@use "@/styles/variables.scss" as *;

.button {
    color: $clr-netural-100;
    text-decoration: none;
    font-size: .9375rem;
    font-weight: 500;
    font-family: inherit;
    background-color: $clr-accent-400;
    border: none;
    border-radius: 100vmax;
    cursor: pointer;
    transition: $transition-hover;
    padding: 5px 16px;

    &:hover,
    &:focus-visible {
        background-color: $clr-accent-500;
    }

    &:active {
        background-color: $clr-accent-600;
    }
}