@use "@/styles/variables.scss" as *;

.form {
    background-color: $background-color-sec;
    border: 1px solid $border-color-prime;
    border-radius: $br;
    padding: 1rem;

    &__wrapper {
        padding-inline: 1rem;
    }
}