@use "@/styles/variables.scss" as *;

.modal {
    &__content {
        border: 1px solid $clr-netural-200;
        border-radius: $br;
        background-color: $clr-netural-100;
        padding: 1rem;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
    }
}