@use "@/styles/variables.scss" as *;

.header {
    &__logo {
        position: relative;
        display: flex;
        gap: 6px;
        align-items: baseline;
        width: fit-content;
    
        &__img {
            align-self: center;
        }
    
        &__title {
            line-height: 1.75;
            margin: 0;
        }
    
        &__link {
            position: absolute;
            inset: 0;
        }
    }

    &__nav {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: minmax(max-content, 1fr);
        align-items: baseline;

        & > a:last-of-type {
            border-radius: $br;
            box-shadow: 0 0 0 1px $clr-netural-200;
        }
    }
}

