@use "@/styles/variables.scss" as *;

.listitem {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    box-shadow: 0 1px 1px -1px $clr-netural-600;
    padding: 1rem;

    &__link {
        padding-inline: 0;
    }

    &__modal {
        &__content {
            border: 1px solid $clr-netural-200;
            border-radius: $br;
            background-color: $clr-netural-100;
            padding: 1rem;
        }

        &__controls {
            display: flex;
            justify-content: space-between;
        }
    }
}
