$white: #fff;
$font-color: #1f2328;
$background-color-sec: #f6f8fa;
$border-color-prime: #d0d7deb3;
$border-color-sec: #d0d7de;
$accent-rest: #1f883d;
$accent-hover: #1c8139;
$accent-active: #197935;
$warning: #dc3545;
$lh-prime: 1.5;
$lh-sec: 20px;
$br: 6px;