$text-opacity: 0.7;
$lh-prime: 1.5;
$lh-sec: 20px;
$br: 6px;
$max-width: 1110px;
$transition-hover: 0.3s;
$warning: #dc3545;
$clr-accent-100: hsl(12, 100%, 96%);
$clr-accent-200: hsl(12, 88%, 85%);
$clr-accent-300: hsl(12, 88%, 75%);
$clr-accent-400: hsl(12, 88%, 59%);
$clr-accent-500: hsl(12, 60%, 45%);
$clr-accent-600: hsl(12, 60%, 35%);
$clr-accent-700: hsl(12, 60%, 25%);
$clr-accent-800: hsl(12, 60%, 15%);
$clr-accent-900: hsl(12, 60%, 5%);
$clr-prim-100: hsl(228, 39%, 53%);
$clr-prim-200: hsl(228, 39%, 43%);
$clr-prim-300: hsl(228, 39%, 33%);
$clr-prim-400: hsl(228, 39%, 23%);
$clr-prim-500: hsl(228, 39%, 18%);
$clr-prim-600: hsl(228, 39%, 13%);
$clr-prim-700: hsl(228, 39%, 9%);
$clr-prim-800: hsl(228, 39%, 6%);
$clr-prim-900: hsl(228, 39%, 3%);
$clr-netural-100: hsl(0, 0%, 98%);
$clr-netural-200: hsl(0, 0%, 88%);
$clr-netural-300: hsl(0, 0%, 78%);
$clr-netural-400: hsl(0, 0%, 68%);
$clr-netural-500: hsl(0, 0%, 58%);
$clr-netural-600: hsl(0, 0%, 48%);
$clr-netural-700: hsl(0, 0%, 38%);
$clr-netural-800: hsl(0, 0%, 28%);
$clr-netural-900: hsl(233, 12%, 13%);
