$text-opacity: 0.7;
$lh-prime: 1.5;
$lh-sec: 20px;
$br: 6px;
$max-width: 1110px;
$break-point: 765px;
$break-point-mobile: 475px;
$transition-hover: 0.3s;
$warning: #dc3545;
$clr-accent-400: hsl(12, 88%, 59%);
$clr-accent-500: hsl(12, 60%, 45%);
$clr-accent-600: hsl(12, 60%, 35%);
$clr-prim-400: hsl(228, 39%, 23%);
$clr-netural-100: hsl(0, 0%, 98%);
$clr-netural-200: hsl(0, 0%, 88%);
$clr-netural-300: hsl(0, 0%, 78%);
$clr-netural-400: hsl(0, 0%, 68%);
$clr-accent-100: hsl(12, 100%, 96%);
$clr-accent-200: hsl(12, 88%, 85%);
