@use "@/styles/variables.scss" as *;

.spinner {
    display: block;
    border: 5px solid $clr-netural-300;
    border-bottom-color: $clr-accent-400;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 