@use "@/styles/variables.scss" as *;

.header {
    display: flex;
    align-items: baseline;
    
    & > a:last-of-type {
        border-radius: $br;
        box-shadow: 0 0 0 1px $clr-netural-200;
    }
}