@use "@/styles/variables.scss" as *;

.test {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  box-shadow: 0 1px 0 0 $clr-netural-200;
  padding: 0.5rem;

  &__link {
    padding-inline: 0;
  }
}