@use "@/styles/variables.scss" as *;

.draft {
    border: 1px solid $clr-netural-200;
    background-color: $clr-netural-200;
    border-radius: $br;
    overflow: hidden;

    &__list {
        display: grid;
        gap: 1px;
    }

    &__status {
        background-color: #fff;
        border-radius: $br;
        padding: 1.75rem;
    }

    &_invalid {
        border-color: $warning;
    }
}