@use "@/styles/variables.scss" as *;

.list {
    display: grid;
    gap: 1px;

    &__status {
        background-color: #fff;
        border-radius: $br;
        padding: 1.75rem;
    }

    &__container {
        border: 1px solid $clr-netural-200;
        background-color: $clr-netural-200;
        border-radius: $br;
        overflow: hidden;

        &_invalid {
            border-color: $warning;
        }
    }
}