@use "@/styles/variables.scss" as *;

.form {
    margin-bottom: 1rem;

    &__submit {
        font-weight: bold;
        width: 100%;
    }

    &__loader {
        display: flex;
        justify-content: center;
        border: 1px solid $clr-netural-300;
        border-radius: $br;
        padding: 1rem;

        &_loading {
            animation: bling linear infinite 2s;
        }

        &_success {
            color: $clr-netural-100;
            background-color: $clr-accent-400;
        }
    }
}


@keyframes bling {
    25% {
        color: $clr-netural-900;
        background-color: $clr-accent-300;
    } 
    50% {
        color: $clr-netural-100;
        background-color: $clr-accent-400;
    } 
    75% {
        color: $clr-netural-900;
        background-color: $clr-accent-300;
    }
}