@use "@/styles/variables.scss" as *;

.pagination {
    display: grid;
    grid-auto-flow: column;
    place-content: center;

    &__link {
        &_active {
            color: $clr-accent-400;
        }
    }

    &__separator {
        align-self: center;
        font-size: .9375rem;
        font-weight: 500;
        padding: 5px 10px;
    }
}

@media screen and (min-width: 765px) {
    .pagination {
        &__separator {
            padding: 10px 20px;
        }
    }
}