@use "@/styles/variables.scss" as *;

.searchbar {
    display: flex;
    gap: 1px;
    flex-wrap: wrap-reverse;
    background-color: $clr-netural-200;

    &__field {
        display: grid;
        gap: 1px;
        flex-grow: 1;
        min-width: calc(50% - 0.5px);
        border: none;
        padding: 0;
        margin: 0;

        &__label,
        &__input {
            background-color: $clr-netural-100;
            padding: 0.5rem;
        }

        &__label {
            display: block;
            float: left;
            width: 100%;
        }

        &__radiogroup {
            display: flex;
            gap: 1px;

            label {
                text-align: center;
                cursor: pointer;
            }

            input:checked+label {
                background-color: $clr-netural-200;
            }

            input:focus-visible+label {
                outline: auto;
            }

        }
    }
}

@media screen and (min-width: $break-point) {
    .searchbar {
        &__field {
            min-width: auto;
        }
    }
}