@use "@/styles/variables.scss" as *;

.field {
    position: relative;
    line-height: $lh-sec;

    &__label {
        display: block;
    }

    &__inputcontainer {
        display: flex;
        gap: 0.5rem;
    }

    &__error {
        position: absolute;
    }
}