@use "@/styles/variables.scss" as *;

.header {
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logobox {
        display: flex;
        align-items: flex-end;
    }

    &__heading {
        line-height: 1;
        margin: 0;
    }

    &__content {
        height: 3em;

        &_loading {
            box-shadow: 0 0 1px $clr-netural-300;
            border-radius: $br;
            background-color: $clr-netural-300;
            overflow: hidden;
            animation: appear 1s linear infinite;
        }
    }

    &__controls {
        display: flex;
        justify-content: flex-end;
    }

    &__content_loading &__controls {
        filter: blur(10px);
    }
}

@keyframes appear {
    25% {
        opacity: 0.5;
    } 75% {
        opacity: 0.2;
    }
}