@use "@/styles/variables.scss" as *;

.tests {
    display: grid;
    height: 323px;

    &__text {
        place-self: center;
        font-weight: bold;
        opacity: $text-opacity;
    }

    &__list {
        display: grid;
        grid-auto-rows: min-content;
        align-items: start;
        overflow: auto;
    
        &__item {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            box-shadow: 0 1px 1px -1px $clr-netural-600;
            padding: 1rem;
        }

        &__link {
            padding-inline: 0;
        }
    }
}

@media screen and (min-width: 765px) {
    .tests {
        height: 373px;
    }
}