.container {
    display: grid;
    align-items: center;
    justify-items: end;
    grid-template-columns: 1fr;

    &__img {
        display: none;
    }

    &__content {
        display: grid;
        gap: 1rem;

        &_loading {
            display: none;
        }
    }

    &__title {
        font-size: 3em;
        margin: 0;
    }

    &__button {
        width: fit-content;
    }
}

@media screen and (min-width: 765px) {
    .container {
        grid-template-columns: 1fr 1fr;

        &__img {
            display: block;
            width: 95%;
            height: 90%;
            aspect-ratio: 1 / 1;
        }
    }
}