.logo {
    position: relative;
    padding-block: 6px;
    margin-right: auto;

    &__img {
        vertical-align: text-bottom;
    }

    &__title {
        display: inline-block;
        margin: 0;
    }

    &__link {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
    }
}
