@use "@/styles/variables.scss" as *;

.choice {
    position: relative;
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
    }
}
